.channel {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textbox {
    width:53%;
}

.messagelisting {
    font-size: 2vh;
    width: 100%;
    height: 50vh;
    border: solid black 1px;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    font: 16px/1.3 sans-serif;
    height: 300px;
    list-style-type: none;
    margin: 0 auto;
    padding: 8px;
    overflow: auto;
    width: 50%;
}

.messagelisting li {
    background: #eee;
    border-radius: 8px;
    padding: 8px;
    margin: 2px 8px 2px 0;

}

.messagelisting li.ours {
    align-self: flex-end; /* Stick to the right side, please! */
    margin: 2px 0 2px 8px;
}

  .messagelisting li:first-child {
    
  }

  button {
      border-radius: 8px;
      background-color: #80514e;
      font-size: 3vh;
  }

  .click {
      background-color: #bd7d78;
  }