@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap'); /* Big Shoudlers */
body {
    font-family: 'Big Shoulders Display', cursive;
    margin: none;
    color: #cca9a7;
  }

a {
    color: #cca9a7;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 4vh;
    left: 0;
    background: #80514e;
    overflow-x: hidden;
    transition: 0.5s;
}
.openbtn {
    color: #80514e;
}

.logo{
    height: 10vh;
    width: 12vw;
}

.slackIcon{
    font-size: 6vh;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(246, 246, 246, 0.068);
    margin-left: 10px;
    margin-right: 10px;

}

.overlay a:hover, .overlay a:focus {
    color: rgb(247, 210, 210);
}

.navContainer{
    text-align: left;
    position: relative;
}

.sidenav-container{
    padding-left: 1vw;
}

.overlay .xbutton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 6vh;
    color: #cca9a7;
    border: none;
}

.anInput{
    background-color: #83443fef;
    border: none;
    height: 5vh;
    color: rgb(247, 210, 210);
    /* font-weight: 600; */
    font-size: 3vh;
    
}

.menu {
    border-top-style: solid;
border-color: rgba(246, 246, 246, 0.068);
border-top-width: 20px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  
}

.overlay h2, .overlay p {
  color:white;
  }

  .topBar {
      display:flex;
      flex-wrap: wrap; 
  }

  .channel {
      width: 100%;
  }
.icon {
    font-size: 1.7em;;
}
