#status, #activity, #starred, #files, #profile, #settings{
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(246, 246, 246, 0.068);
  }
  

  /* important */
   .burger-button2 {
    position: fixed;
    width: 2vw;
    height: 2vh;
    left: 7vw;
    top: 36px;
    padding-right: 13vh; 
    padding-left: 10;
    padding-top:4vh;
  } 
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    /* position: absolute;
    top:-20px;
    right: -48px; */

  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
