body {
    margin: 0;
  }
  
  #App {
    font-family: sans-serif;
  
    /* Give app full page to work with */
    height: 100vh;
  }
  
  .icon{
    margin-right: 2vh;
    border-bottom-style: none;
  
  }
  
  #status, #activity, #starred, #files, #profile, #settings{
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(246, 246, 246, 0.068);
  
  }
  
  #donot, #directory{
    padding-bottom: 4vh;
    padding-top: 4vh;
  }
  
  a#user.bm-item.menu-item{
    font-weight: 900;
    padding-bottom: 2vh;
  }
  
  #activity, #profile{
    border-top-style: solid;
    border-color: rgba(246, 246, 246, 0.068);
    border-top-width: 40px;
    padding-top: 4vh;
  }
  
  #page-wrap {
    text-align: center;
  
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    /* margin-bottom: 10px; */
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  /* avoids outline border */
  #user:focus {
      outline: none !important;
  }
  
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  /* .bm-burger-button {
    position: fixed;
    width: 2vw;
    height: 2vh;
    left: 7vw;
    top: 36px;
     padding: 6vh; 
  } */

   .burger-button2 {
    position: fixed;
    width: 2vw;
    height: 2vh;
    left: 7vw;
    top: 36px;
    padding-right: 13vh; 
    padding-left: 10;
    padding-top:4vh;
  } 
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    /* position: absolute;
    top:-20px;
    right: -48px; */

  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    /* padding: 1em 1.5em 0; */
    /* padding: -1em 3.5em 0; */
    margin : -10;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(246, 246, 246, 0.3);
  }
  
  